@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700);

html {
    overflow: scroll;
}

body {
    /* 
font-family: 'Open Sans Condensed', Helvetica, Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.6em;
 */
 overflow: hidden;
}

.topnav {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
/* 
    background-image: linear-gradient(to bottom, #fff 0px, #f8f8f8 100%);
    background-repeat: repeat-x;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    border: 1px solid #e7e7e7;
 */
    background-color: #fff;
    min-height: 70px;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    height: 225px;
    text-align: center;
    overflow: hidden;
}

.topnav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #555555;
    transition: 0.7s;
    -moz-transition: 0.7s;
    -webkit-transition: 0.7s;
}
    
.topnav-left a:hover, .topnav-right a:hover {
    color: #309cff;
    text-decoration: none;
    text-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid #309cff;
}

.navbar-scrolled {
    height: 70px;
    border: 1px solid #e7e7e7;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 5px rgba(0, 0, 0, 0.075);
}

.topnav ul {
    list-style-type: none;
}

.topnav-left {
    float: left;
    width: calc(50% - 150px);
    margin-right: -20px;
    margin-left: 20px;
}

.topnav-right {
    float: left;
    width: calc(50% - 150px);
    margin-right: 50px;
    margin-left: -50px;
}

.topnav ul li {
    display: none;
    padding: 0 8%;
    line-height: 300px;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.topnav ul li:before {
    content: "";
    margin-left: 0;
    margin-right: 0;

}

.navbar-scrolled ul li {
    line-height: 70px;
}

.topnav-img {
    float: none;
    width: 300px;
    padding-top: 8px;
}

.topnav-buttons {
    position: fixed;
    width: 80px;
    line-height: 70px;
    z-index: 101;
    top: 0;
    right: 0;
    text-align: center;
    display: none;
}

.topnav-buttons a {
    height: 70px;
    background-color: #3470c6;
    color: #fff;
    width: 40px;
    display: block;
    float: left;
}

.topnav-buttons a:hover {
    background-color: #5D8DD1;
}

.topnav-buttons .emergency {
    background-color: #ff3f3f;
}

.topnav-buttons .emergency:hover {
    background-color: #fc6666;
}

.sm-hide {
    visibility: hidden;
    display: none;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

    .sm-hide {
        visibility: visible;
        display: block;
    }
    
    .lrg-hide {
        visibility: hidden;
    }
    
    .topnav ul li {
        display: inline-block;
        
    }

    .navbar-elem-scrolled {
    }


    .topnav-img {
        float: left;
    }


    .topnav-img-scrolled {
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
    .navbar-img {
    }
    
    .navbar-img-scrolled {
    }

    .navbar-elem-scrolled {
    }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .navbar-img-scrolled {
    }

    .navbar-elem-scrolled {
    }
}

a, a:hover, a:active, a:focus {
   outline: 0;
}

.modal-body a:link, .modal-body a:visited {
    color: #fff;
    text-decoration: none;
}

.navbtn {
    font-size: 24px;
    padding-top: 12px;
}

.navbtn-blk {
    color: #000;
    font-size: 24px;
    padding-top: 12px;
}

.nav-overlay {
    position: fixed;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.3;
    display: none;
}

.navexpand {
    position: fixed;
    bottom: 0px;
    padding-bottom: 10px;
    width: 100%;
    background-image: none;
    background-color: #337AB7;
    border-radius: 16px 16px 0 0;
    color: #F3F3F3;
    opacity: 0;
    -moz-opacity: 0;
    z-index: 100;
}

.navbtn-exp {
    color: #f3f3f3;
    font-size: 24px;
    padding-top: 12px;
}

.navbtn-clk {
    position: relative;
    text-shadow: 0px 1px 5px #337AB7;
    bottom: 10px;
    padding: 12px ;
}

.navbtn-exp-clk {
    text-shadow: 0px 1px 5px #f3f3f3;
}

.textslider {
    padding: 0 15px;
    position: fixed;
    bottom: 80px;
    margin-left: 17.5%;
    width: 40%;
    background-image: none;
    background-color: RGBA(51, 122, 183, 0.75);
    border-radius: 4px 4px 0 0;
    display: none;
    z-index: 100;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
   outline: 0;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f3f3f3;
  border-radius: 4px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 15px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #F5F5F5 0%, #E8E8E8 100%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #f3f3f3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #f3f3f3;
  border-radius: 4px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 15px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #F5F5F5 0%, #E8E8E8 100%);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 25px;
  width: 15px;
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #F5F5F5 0%, #E8E8E8 100%);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #f3f3f3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #f3f3f3;
}